.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

h1{
	animation: blinkingBackground 2s infinite;
}
@keyframes blinkingBackground{
	0%		{background-color: #37a7f1ce;}
	25%		{background-color: #0e8632d3;}
	50%		{background-color: #d46deed3;}
	75%		{background-color: #f6076be1;}
	100%	{background-color: #f01919e7;}
}